.WalL {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.WalL img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.WalL::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #00000085;
    z-index: 2;
}