.data_people_block {
    position: relative;
    padding: 20px 50px;
    margin-top: 50px;
    color: white;
    background: #1b1f29;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.data_people_item {
    position: relative;
    display: flex;
}
.data_people_item p {
    text-transform: uppercase;
    margin: 0px;
    margin-right: 10px;
    font-weight: 800;
    color: #ffffff91;
}
.data_people_item span {
    position: absolute;
    left: 400px;
}